body {
    margin: 60px auto;
    width: 70%;
}
nav ul{
    float: right;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li {
    margin-right: 20px;
    display:inline;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align:center;
}
h2 {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align:center;
}
h3 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    text-align:center;
}
p {
    font-size: 1em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    line-height: 1.4em;
    color: #333;


